ul.autocomplete_specialty {
    display: none;
	position:absolute;
    background:url(../img/glass_row_dark.png);
    margin: 0;
    padding: 3px 0;
	z-index:9999;
	top:30px;
	left:10px;
}
ul.autocomplete_specialty li {
	list-style: none;
	background:url(../img/glass_row_dark.png);
	margin: 0;
	padding: 5px 7px;
	color:#FFFFFF;
}
.autocomplete_sub {
	color:#FFFFFF;
	font-size:0.8em;
}
ul.autocomplete_specialty li.active, ul.autocomplete_specialty li:hover {
	cursor: pointer;
	background:url(../img/glass_row_shade_dark.png);
}

ul.autocomplete_specialty li a {
	color: #FFFFFF;
	text-decoration: none;
}