/* tables */
table.tablesorter {
	font-family:arial;
	background:rgb(255, 235, 173, 0.5);
	margin:10px 0pt 15px;
	font-size: 12px;
	width: 100%;
	text-align: left;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	-khtml-border-radius: 3px; 
	border-radius: 3px;
}
/* background: url(../img/glass_dark.png);*/
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	border-bottom: 1px solid #FFF;
	font-size: 12px;
	padding: 4px;
	color:#000000;
}
table.tablesorter thead tr .header {
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #000000;
	padding: 4px;
	background: rgb(255, 235, 173, 0.5);
	vertical-align: top;
	border-bottom: .1em solid #7E7E7E;
}
table.tablesorter tbody tr.odd td {
	background:rgb(255, 235, 173, 0.5);
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(img/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #8dbdd8;
}
