/* Example tokeninput style #2: Facebook style */
ul.token-input-list-event {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    width: 470px;
    border: 1px solid #8496ba;
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    min-height: 1px;
    z-index: 999;
    margin: 0;
	margin-left:0px;
    padding: 0;
    background-color: #fff;
    list-style-type: none;
    clear: left;
}

ul.token-input-list-event li input {
    border: 0;
    width: 470px;
    padding: 3px 8px;
    background-color: white;
    margin: 2px 0;
    -webkit-appearance: caret;
}

li.token-input-token-event {
    overflow: hidden; 
    height: auto !important; 
    height: 15px;
    margin: 3px;
    padding: 1px 3px;
    background-color:#88FBE3;
    color: #000;
    cursor: default;
    border: 1px solid #ccd5e4;
    font-size: 11px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
    white-space: nowrap;
}
.status-closed {
    /*background-color: #ffd6d6 !important;*/
    font-weight: bold !important;
    color: #900 !important;
    margin-left: 0px !important;
    
}

.status-open1 {
    margin-left: 0px !important;
    font-weight: normal !important;
    cursor: pointer;
}
li.token-input-token-event p {
    display: inline;
    padding: 0;
    margin: 0;
}

li.token-input-token-event span {
    color:#000000;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

li.token-input-selected-token-event {
    background-color: #5670a6;
    border: 1px solid #3b5998;
    color: #fff;
}

li.token-input-input-token-event {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div.token-input-dropdown-event {
    position: absolute;
    width: 470px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-size: 11px;
    font-family: Verdana;
    z-index: 1000;
}

div.token-input-dropdown-event p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown-event ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown-event ul li {
    background-color: #fff;
    padding: 3px;
    margin: 0;
    list-style-type: none;
}

div.token-input-dropdown-event ul li.token-input-dropdown-item-event {
    background-color: #fff;
}

div.token-input-dropdown-event ul li.token-input-dropdown-item2-event {
    background-color: #fff;
}

div.token-input-dropdown-event ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown-event ul li.token-input-selected-dropdown-item-event {
    background-color: #3b5998;
    color: #fff;
}