.back_color{
	background-color: #191919;
}
#table-1 .bg-white{background-color: #ffffff;height: 100%;}
#table-1 .mar-30{margin: 30px;}
#table-1 .pad-30{
	padding: 26px;
}

#table-1 th {background-color: #f3f3f3; padding: 12px 30px; color: #4f5c7f;font-size: 18px; font-weight: 600;}
#table-1  td{padding: 12px 30px; font-size: 16px; color: #999999;}
#table-1 .form-control{border-radius:20%; border: 1px solid #e5e5e5; height: 58px;border-radius: 30px;padding-left: 60px; font-size: 20px; color: #999999; position: relative;}
#table-1 .abs{position: absolute; top: 17px; z-index: 1; left: 20px;}
#table-1 .pos-rel{position: relative;}
#table-1  .form-control:focus{ border: 1px solid #999999;box-shadow: none;}
#table-1 h4{color: #4f5c7f;font-size: 24px; margin-top: 0px; margin-bottom: 0px;}
.fa-pencil {color:#4f5c7f;font-size: 20px; }
#myTableb td:last-child{
	text-align: center;
}
a:focus {

    outline:none;
 
}
.pdf-view{
    border: 1px solid #c6c6c6;
    padding: 42px 20px;
    color: #000;
    font-size: 16px;
}
.table-responsive {

    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    border: 1px solid #ddd;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;

    
    }
.row-eq-height{		
/*	display: flex;*/
}
