<div align="center" style="margin-left:0px;margin-top:0px; padding-bottom:15px">
<a class="brand" href="#"><img src="img/ikase_logo_login.png" alt="iKase Legal Case Management System" width="77" height="32" border="0"></a></div>
<div class="container" style="border:0px solid black; height:200px; margin-left:375px; width:200px; margin-top:0px" align="left">

    <form class="form-signin" role="form">
        <h4 class="form-signin-heading">Please sign in</h4>
        <input id="inputEmail" type="text" class="form-control" style="height:30px" placeholder="Email address" required autofocus><br />
        <input id="inputPassword" type="password" class="form-control" style="height:30px" placeholder="Password" required>
        <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
            <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-left:100px; width:80px; font-size:12px; margin-top:-25px" id="loginButton">Sign in</button>
        </label>
    </form>
</div>
<div class="alert alert-error" style="display:none;"></div>
<div class="alert alert-success" style="display:none;">You are logged in</div>

<!--<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">
      <input type="text" id="inputEmail" placeholder="Email">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Password">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn" id="loginButton">Sign in</button>
    </div>
  </div></form>
-->