ul.autocomplete_reps {
    display: none;
	position:absolute;
    background:url(../img/glass_row_dark.png);
    padding: 3px 0;
	z-index:9999;
	top:36px;
	left:70px;
}

ul.autocomplete_reps li {
	list-style: none;
	background:url(../img/glass_row_dark.png);
	margin: 0;
	padding: 5px 7px;
	color:#FFFFFF;
}
.autocomplete_reps_sub {
	color:#FFFFFF;
	font-size:0.8em;
}
ul.autocomplete_reps li.active, ul.autocomplete_reps li:hover {
	cursor: pointer;
	background:url(../img/glass_row_shade_dark.png);
}

ul.autocomplete_reps li a {
	color: #FFFFFF;
	text-decoration: none;
}
.autocomplete_repsed {
	font-weight:bold;
	color:#FFFF00;
}