ul.autocomplete {
    display: none;
	position:absolute;
    background:url(../img/glass_row_dark.png);
    padding: 3px 0;
	z-index:9999;
	top:36px;
	left:70px;
}

ul.autocomplete li {
	list-style: none;
	background:url(../img/glass_row_dark.png);
	margin: 0;
	padding: 5px 7px;
	color:#FFFFFF;
}
.autocomplete_sub {
	color:#FFFFFF;
	font-size:0.8em;
}
ul.autocomplete li.active, ul.autocomplete li:hover {
	cursor: pointer;
	background:url(../img/glass_row_shade_dark.png);
}

ul.autocomplete li a {
	color: #FFFFFF;
	text-decoration: none;
}
.autocompleted {
	font-weight:bold;
	color:#FFFF00;
}