/* tables */
table.tablesorter {
	font-family:arial;
	background:url(../img/glass_row_clear.png);
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	-khtml-border-radius: 3px; 
	border-radius: 3px;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background: url(../img/glass_dark.png);
	border-bottom: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
	color:#FFFFFF;
}
table.tablesorter thead tr .header {
	background: url(../img/glass_dark.png);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #FFFFFF;
	padding: 4px;
	background: url(../img/glass_row_clear.png);
	vertical-align: top;
	border: .0em solid #7E7E7E;
}
table.tablesorter tbody tr.odd td {
	background:url(../img/glass_row_clear.png);
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(img/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #8dbdd8;
}
