ul.autocompletes {
    display: none;
	position:absolute;
    background:url(../img/glass_row_dark.png);
    margin: 0;
    padding: 3px 0;
	z-index:9999;
	top:36px;
	left:5px;
}

ul.autocompletes li {
	list-style: none;
	background:url(../img/glass_row_dark.png);
	margin: 0;
	padding: 5px 7px;
	color:#FFFFFF;
}
.autocomplete_sub {
	color:#FFFFFF;
	font-size:0.8em;
}
ul.autocompletes li.active, ul.autocompletes li:hover {
	cursor: pointer;
	background:url(../img/glass_row_shade_dark.png);
}

ul.autocompletes li a {
	color: #FFFFFF;
	text-decoration: none;
}